.chucnang{ color: black; background-color: #b9b9b9; border-radius: 10px; max-height: 277px; margin-top: 20px;}
.chucnang li{ width: auto;height: 40px; border-top: 1px solid white; margin-left: -44px; margin-right: -12px; padding-left: 14px; list-style: none; line-height: 40px; transition: background-color 0.5s ease;}
.chucnang li:hover { background: gray; border-radius: 10px;}
.chucnang a{ text-decoration: none; color: black; font-weight: bold; display: block;}